<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
</head>
<body>
       
    <form action="/form1" method="POST">
        <div class="form-group">
		    <label class="form-control-plaintext" >username : </label>
		    <input type="text" class="form-control" name="username" placeholder="What's your name?" required>
		    <label class="form-control-plaintext">email :</label>
            <input type="text" class="form-control" name="email" required>
        </div>
		<input type="submit" class="btn btn-success" >
	</form>

	
</body>
</html>