<!DOCTYPE html>
<html>
<head>
    <title>Students Info</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
</head>
<body>
       
    
    <table class="table">
        <tr class="table-bordered">
        <th >ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Level</th>
        <th>GPA</th>
        </tr>
        {% for l in std %}
        <tr class="table-bordered">
                {%for w in l.split()%}
                    <td>{{w}}</td>
                {%endfor%}
        </tr>
        {% endfor %}
        
    </table>
    

	
</body>
</html>